<!--
作者：张慧珍
创建时间：2019-02-19
版本：[1.0,2019-02-19]
版权：@肥羊不绵
描述：用户登录
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>萌宠战记</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/login.css" />
</head>
<body>
<div class="z-title  page-header">
    <h1 class="hidden-xs">萌宠战记 <small class="hidden-xs hidden-sm">|&nbsp;每一只生物，都带着使命降临到人世间</small></h1>
</div>
<div class="container">
    <div class="text-center z-title">
        <h2 class="text-primary">萌宠战记 <small>随时随地 分享宠物新鲜事</small></h2>
    </div>

    <div class="z-container">
        <h4 class="text-info">请登录：</h4>
        <div class="form-group">
            <input type="text" class="form-control" id="username" value="" name="username" placeholder="请输入账户名" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="userpwd" name="userpwd" placeholder="请输入密码" />
        </div>
        <div class="form-group">
            <button type="button" id="btn_login" class="btn btn-md btn-info btn-block" disabled="disabled">登录</button>
        </div>
        <div class="checkbox clearfix">
           <!-- <label class="text-muted">
                <input type="checkbox" id="autolog" name="autolog" />下次自动登录
            </label>-->
            <div class="z-inline pull-right">
                <a href="/client/getpassword" class="text-muted">忘记密码</a>&nbsp;|&nbsp;
                <a href="/client/register" class="text-muted">注册</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/client/js/login.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
