<!--
作者：张慧珍
创建时间：2019-02-24
版本：[1.0,2019-02-24]
版权：@肥羊不绵
描述：用户注册1
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>萌宠战记</title>
    <link rel="stylesheet" type="text/css" href="plugin//bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="client/css/register1.css" />
</head>
<body>
<div class="container">
    <div class="text-center z-title">
        <h1 class="text-primary">萌宠战记 <small class="text-info">每一个生物，都带着使命降临到地球</small></h1>
    </div>

    <div class="z-container">
        <h4 class="text-primary">请完善基本资料：</h4>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="z-foruserphoto">
               <!-- <span class="glyphicon glyphicon-camera z-icon"  aria-hidden="true"></span>-->
                <img src="image/user_default.jpg" title="点击修改头像" class="img-circle" alt="点击修改头像" id="photo" />
                <input type="file" id="userphoto" title="点击修改头像" name="userphoto" class="z-forphoto" />
            </div>
            <div class="form-group">
                <label  class="z-col-3 control-label">昵称</label>
                <div class="z-col-9">
                    <input type="text" class="form-control" id="username" name="username" placeholder="昵称不可修改" />
                </div>
            </div>
            <div class="form-group">
                <label  class="z-col-3 control-label">性别</label>
                <div class="z-col-9">
                    <label for="0" class="checkbox-inline">
                        <input type="radio" class="" id="0" name="usersex" checked="checked"  />男
                    </label>
                    <label for="1" class="checkbox-inline">
                        <input type="radio" class="" id="1" name="usersex"  />女
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label  class="z-col-3 control-label">年龄</label>
                <div class="z-col-9">
                    <input type="text" class="form-control" id="userbrith" name="userbrith" placeholder="您的出生年月日" />
                </div>
            </div>
            <div class="form-group">
                <label  class="z-col-3 control-label">城市</label>
                <div class="z-col-9">
                    <input type="text" class="form-control" id="useraddress" name="useraddress" placeholder="您的常居城市" />
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="btn_next" class="btn btn-md btn-info btn-block" disabled="disabled">下一步</button>
            </div>
        </form>
    </div>
</div>

<script src="plugin/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="plugin/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="client/js/register1.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
