<!--
作者：张慧珍
创建时间：2019-02-24
版本：[1.0,2019-02-24]
版权：@肥羊不绵
描述：用户注册1
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>萌宠战记</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/register1.css" />
</head>
<body>
<div class="container">
    <div class="text-center z-title">
        <h1 class="text-primary">萌宠战记 <small class="text-info">每一个生物，都带着使命降临到地球</small></h1>
    </div>

    <div class="z-container">
        <h4 class="text-primary">请完善基本资料：</h4>
        <form class="form-horizontal" method="post" enctype="multipart/form-data" name="picForm">
            <div class="z-foruserPhoto">
                <img src="/image/user_default.jpg" title="点击修改头像" class="img-circle" alt="点击修改头像" id="photo" />
                <input type="file" id="userPhoto" title="点击修改头像" name="userPhoto" class="z-forphoto" />
            </div>
            <div class="form-group">
                <label  class="z-col-3 control-label">昵&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                <div class="z-col-9">
                    <input type="hidden" id="userEmail" name="userEmail" />
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="昵称不可重复" />
                    <span id="text_danger" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label  class="z-col-3 control-label">出生日</label>
                <div class="z-col-9">
                    <input type="text" readonly="readonly" data-provide="datepicker" class="form-control" id="userBrith" name="userBrith" placeholder="您的出生年月日" />
                </div>
            </div>
            <div>
                <label  class="z-col-3 control-label">所在地</label>
                <div class="z-col-9">
                    <div data-toggle="distpicker">
                        <div class="form-group">
                            <select class="form-control" name="province" id="province" title="省"></select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="city" id="city" title="市"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="btn_next" class="btn btn-md btn-info btn-block" disabled="disabled">下一步</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/jquery.js" charset="utf-8"></script>
<script src="/js/bootstrap.js" charset="utf-8"></script>
<script src="/client/js/bootstrap-datepicker.js" charset="utf-8"></script>
<script src="/client/js/distpicker.data.js" charset="utf-8"></script>
<script src="/client/js/distpicker.js" charset="utf-8"></script>
<!--<script src="/client/js/bootstrap-datepicker.zh-CN.min.js" charset="utf-8"></script>-->
<script src="/client/js/register1.js" charset="utf-8"></script>

</body>
</html>
