<!--
作者：张慧珍
创建时间：2019-02-20
版本：[1.0,2019-02-20]
版权：@肥羊不绵
描述：
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>萌宠战记</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/index.css" />
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>萌宠战记</h1>
        <p>每一只生物，都是带着使命来到地球上。</p>
        <p>欢迎您，<a href="/client/userinfo?type=1"><%= username %></a></p>
    </div>
</div>
<div class="container">
    <!-- 板块 -->
    <div class="row" id="plates">
    </div>
</div>
<footer class="text-muted">©2019 版权所有 @肥羊不绵</footer>
<script type="text/template" id="template" >
    <div class="col-sm-6 col-md-4"  >
        <div class="thumbnail" id="{{plateId}}">
            <img src="/image/{{platePhoto}}" alt="...">
            <div class="caption">
                <h3>{{plateName}}</h3>
                <p>{{plateIntro}}</p>
            </div>
        </div>
    </div>
</script>
<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="/post/js/home.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>

