<!--
作者：张慧珍
创建时间：2019-03-04
版本：[1.0,2019-03-04]
版权：@肥羊不绵
描述：
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>萌宠战记</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/index.css" />
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>萌宠战记</h1>
        <p>每一只生物，都是带着使命来到地球上。</p>
        <p>欢迎您！<%= username %></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/image/img_cat.jpg" alt="...">
                <div class="caption">
                    <h3>猫类</h3>
                    <p>“无论你贫穷或富贵，它都瞧不起你。”</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/image/img_dog.jpg" alt="...">
                <div class="caption">
                    <h3>狗类</h3>
                    <p>千年驯化，已为人类最好的伙伴</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/image/img_mouse.jpg" alt="...">
                <div class="caption">
                    <h3>小型宠物类</h3>
                    <p>龙猫，仓鼠，松鼠，兔，豚鼠，宠物貂……</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/image/img_bird.jpg" alt="...">
                <div class="caption">
                    <h3>鸟类</h3>
                    <p>两只黄鹂鸣翠柳，一行白鹭上青天。</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/image/img_fish.jpg" alt="...">
                <div class="caption">
                    <h3>水族类</h3>
                    <p>鱼，虾</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/image/img_lizard.jpg" alt="...">
                <div class="caption">
                    <h3>两栖爬行类</h3>
                    <p>乌龟，蛇，蜥蜴……</p>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</div>


</body>
</html>
