/*
 * 作者：张慧珍
 * 创建时间：2019-04-14
 * 版本：[1.0,2019-04-14]
 * 版权：@肥羊不绵
 * 描述：
 * */

.z-nav-top {
    margin-bottom: 0;
}


.jumbotron .img-thumbnail {
    min-height: 130px;
}

.list-group li {
    list-style: none;
}

.z-post-imgs {
    height: auto;
}

.z-post-imgs img {
    height: 130px;
    padding: 5px 10px 5px 0;
}

.z-textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;
    max-height: 600px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.z-lol-textarea {
    max-width: calc(100% - 70px);
    min-width: calc(100% - 70px);
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.z-lol-up {
    float: right;
}

.input-group {
    margin-bottom: 15px;
}

#up_post{
    padding: 6px 24px;
}

.z-ml {
    margin-left: 20px;
    display: inline;
}

footer {
    padding: 20px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
}

.panel-body {
    padding: 0;
    border-bottom: 1px solid #e7e7e7;
}

.z-user {
    padding: 15px;
    /*background: #f5f5f5;*/
    min-height: 170px;
    height: calc(100% + 30px);
}

.z-user-img {
    height: 100px;
    width: 100px;
}

.panel-body .z-user-img:first-child {
    border: 1px solid #bce8f1;
}

.z-user img {
    display: block;
    margin: 0 auto;
}

.z-user p {
    margin: 10px auto;
    text-align: center;
}

.z-post {
    padding: 15px;
    height: 100%;
    min-height: 170px;
}

.z-content {
    position: relative;
    min-height: 120px;
}

.z-time {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 100%;
    text-align: right;
}

.collapse {
    padding: 0;
    border-top: 1px solid #f5f5f5;
}

.list-group .list-group-item {
    border: 0;
    background: inherit;
}

.list-group .list-group-item .z-time {
    margin: 0;
}


#forreply {
    padding: 0;
}

#forreply li {
    list-style: none;
}

.dropdown-menu {
    min-width: 100px;
}

/* 分页 */
.pagination-container {
    text-align: center;
}
