<!--
作者：张慧珍
创建时间：2019-02-19
版本：[1.0,2019-02-19]
版权：@肥羊不绵
描述：用户注册
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>萌宠战记</title>
    <link rel="stylesheet" type="text/css" href="../../public/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="./css/register.css" />
</head>
<body>
<div class="container">
    <div class="text-center z-title">
        <h1 class="text-primary">萌宠战记 <small>每一个生物，都带着使命降临到地球</small></h1>
    </div>

    <div class="z-container">
        <h4 class="text-primary">请注册：</h4>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="useremail" name="useremail" placeholder="请输入邮箱账号" />
            </div>
            <div class="form-group input-group">
                <input type="password" class="form-control" id="vcode" name="vcode" placeholder="请输入验证码" />
                <span class="input-group-btn">
                        <button type="button" id="btn_vcode" class="btn btn-md btn-info btn-block" >&nbsp;发送验证码&nbsp;</button>
                </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="userpwd" name="userpwd" placeholder="请输入密码" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="userpwd1" name="userpwd1" placeholder="请再次输入密码" />
            </div>
            <div class="checkbox">
                <label class="text-muted">
                    <input type="checkbox" id="userAgreement" name="autolog" />
                    我已阅读并接受<a href="useragreement.html" class="text-danger">用户协议</a>
                </label>
            </div>
            <div class="form-group">
                <button type="button" id="btn_register" class="btn btn-md btn-info btn-block" disabled="disabled">下一步</button>
            </div>
            <div class="form-group clearfix">
                <div class="z-inline pull-right text-muted">
                    已有账号，<span id="to_login">返回登录</span>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../../public/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../public/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/register.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>