<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/plugin/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>你好，世界！</h1>
    <span><%= message %></span>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary  col-sm-4 " id="login_l">登录</button>
            <button type="button" class="btn btn-info col-sm-offset-4 col-sm-4" id="register_l">注册</button>
        </div>
    </form>
</div>
<script src="../public/plugin/js/jquery.js"></script>
<script src="../public/plugin/js/bootstrap.js"></script>
<script src="../public/javascripts/login.js"></script>
</body>
</html>