/*
 * 作者：FeiYang
 * 创建时间：2019-02-20
 * 版本：[1.0,2019-02-20]
 * 版权：@肥羊不绵
 * 描述：
 */

footer {
    padding: 20px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
}
