/*
 * 作者：FeiYang
 * 创建时间：2019-02-19
 * 版本：[1.0,2019-02-19]
 * 版权：@肥羊不绵
 * 描述：
 */

html {
    height: 100%;
}

body {
    height: 100%;
    /*background: url("img/wallhaven-457434.jpg") no-repeat;
    background-size: cover;*/
}

body:after {
    content: "";
    background: url("img/wallhaven-457434.jpg") no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.z-title {
    width: 1200px;
    margin: 30px auto;
}

.container .z-title {
    padding: 20px 0;
    width: auto;
    margin: 0;
}

.z-title h2 {
    font-weight: bold;
}

.z-title h2 small {
    display: block;
    margin: 20px;
}

.z-container {
    max-width: 350px;
    margin: 40px auto;
    border: 1px solid #ffffff;
    background: rgba(255,255,255,0.5);
    /*border: 1px solid rgba(49, 176, 213,0.5);*/
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 1px 1px 1px 1px rgba(49, 176, 213,0.5);*/
}

.z-container h4 {
    font-weight: bold;
}

.z-inline {
    display: inline;
}
