/*
 * 作者：张慧珍
 * 创建时间：2019-02-25
 * 版本：[1.0,2019-02-25]
 * 版权：@肥羊不绵
 * 描述：
 */

/*
* {
    box-sizing: border-box; // 确保padding不会影响元素最终的宽度计算
}*/
html {
    height: 100%;
}

body {
    height: 100%;
   /* background: url("img/wallhaven-270245.jpg") no-repeat;
    background-size: cover;*/
}

body:after {
    content: "";
    background: url("img/wallhaven-270245.jpg") no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.z-title {
    padding: 20px 0;
}

.z-title h1 {
    font-weight: bold;
}

.z-title h1 small {
    display: block;
    margin: 20px;
}

.z-container {
    max-width: 350px;
    margin: 40px auto;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(49, 176, 213,0.5);
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 1px 1px 1px 1px rgba(49, 176, 213,0.5);*/
}

.z-inline {
    display: inline;
}


/* register1 */

.z-foruserphoto {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 15px auto;
}

.img-circle {
    width: 120px;
    height: 120px;
    margin: 15px auto;
    display: block;
}

.z-forphoto {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
}

.z-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.form-horizontal .form-group {
   margin: 0 0 15px 0;
}

.z-col-3 {
    float: left;
    width: 20%;
    color: #337ab7;
    text-align: left !important;
}

.z-col-9 {
    float: left;
    width: 80%;
}
